<!DOCTYPE html>
<html>
<head>
  <title>Ideas</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.css">
  <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <style>
	.bottomPage {
		position: absolute;
		right: 0; 
		bottom: 0;
		color: red;		
	}
	
	.center {text-align: center; padding-top: 20%}
  </style>
  
</head>
<body>

<div class="container">
  
  <% if user_signed_in? %>
	<h1 align = "center">Our ideas</h1>

	<div align = "right">
	<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
	</div>
  <% end %>
  
  <%= yield %>
</div>



<footer class = "bottomPage">
<div class="container">
<i>Rails Girls 2016</i>
</div>
</footer>

</body>
</html>
